<a href="https://colab.research.google.com/github/RicardoCastroG/Curso_Python/blob/main/for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
adj = ["roja", "grande", "dulce"]
fruits = ["manzana", "platano", "cereza"]

In [2]:
for x in adj:
  for y in fruits:
   print(x,y)

roja manzana
roja platano
roja cereza
grande manzana
grande platano
grande cereza
dulce manzana
dulce platano
dulce cereza

In [4]:
for i in range(3):
  print(f"{adj[0]} {fruits[i]} ")
for i in range(3):
  print(f"{adj[1]} {fruits[i]} ")
for i in range(3):
  print(f"{adj[2]} {fruits[i]} ")

roja manzana
roja platano
roja cereza
grande manzana
grande platano
grande cereza
dulce manzana
dulce platano
dulce cereza

In [5]:
n=int(input("dame tu edad"))
for i in range(1,n+1):
  print(f"{i} años cumplidos ")

dame tu edad18
1 años cumplidos
2 años cumplidos
3 años cumplidos
4 años cumplidos
5 años cumplidos
6 años cumplidos
7 años cumplidos
8 años cumplidos
9 años cumplidos
10 años cumplidos
11 años cumplidos
12 años cumplidos
13 años cumplidos
14 años cumplidos
15 años cumplidos
16 años cumplidos
17 años cumplidos
18 años cumplidos

In [6]:
suma=0
while True:
  a=int(input("dime un valor que no sea 0 "))
  suma+=a
  if a==0:
    print("la suma es",suma)
    break

dime un valor que no sea 0 2
dime un valor que no sea 0 2
dime un valor que no sea 0 2
dime un valor que no sea 0 0
la suma es 6