<a href="https://colab.research.google.com/github/RicardoCastroG/Curso_Python/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(10):
  print("hola mundo")

hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo

In [2]:
for i in range(10):
  print(i,"hola mundo")

0 hola mundo
1 hola mundo
2 hola mundo
3 hola mundo
4 hola mundo
5 hola mundo
6 hola mundo
7 hola mundo
8 hola mundo
9 hola mundo

In [3]:
for i in range(1,10):
  print(i,"hola mundo")

1 hola mundo
2 hola mundo
3 hola mundo
4 hola mundo
5 hola mundo
6 hola mundo
7 hola mundo
8 hola mundo
9 hola mundo

In [4]:
for i in range(1,11):
  print(i,"hola mundo")

1 hola mundo
2 hola mundo
3 hola mundo
4 hola mundo
5 hola mundo
6 hola mundo
7 hola mundo
8 hola mundo
9 hola mundo
10 hola mundo

In [6]:
n=int(input("dame un valor"))
for i in range(n):
  print("hola mundo")

dame un valor10
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo

In [8]:
n=int(input("dame un valor"))
for i in range(1,n+1):
  print(i,"hola mundo")

dame un valor10
1 hola mundo
2 hola mundo
3 hola mundo
4 hola mundo
5 hola mundo
6 hola mundo
7 hola mundo
8 hola mundo
9 hola mundo
10 hola mundo

In [12]:
for i in range(1,11):
  if i%2==0:
    print(i)
    continue
  else:
    print(i,"hola mundo")

1 hola mundo
2
3 hola mundo
4
5 hola mundo
6
7 hola mundo
8
9 hola mundo
10

In [13]:
for i in range(1,11):
  if i%2==0:
    print(i)
  else:
    print(i,"hola mundo")

1 hola mundo
2
3 hola mundo
4
5 hola mundo
6
7 hola mundo
8
9 hola mundo
10

In [14]:
for i in range(1,11):
  if i%2==0:
    print(i)
    break
  else:
    print(i,"hola mundo")

1 hola mundo
2

In [56]:
for i in range(10):
  a=int(input("dime un valor que no sea 0 "))
  if a==0:
    print("el numero es 0")
    break
  else:
    print(a)

dime un valor que no sea 0 0
el numero es 0

In [17]:
for i in range(1,11):
  i=0
  print(i,"hola mundo")

0 hola mundo
0 hola mundo
0 hola mundo
0 hola mundo
0 hola mundo
0 hola mundo
0 hola mundo
0 hola mundo
0 hola mundo
0 hola mundo

In [ ]:
while True:
  print("hola mundo")

In [38]:
i=0
while True:
  i=i+1
  print("hola mundo")
  if i==20:
    i=0
    break

hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo

In [62]:
i=0
while True:
  i=i+1
  print("hola mundo")
  if i==20:
    i=0
    break

hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo

In [40]:
adj = ["roja", "grande", "dulce"]
fruits = ["manzana", "platano", "cereza"]

In [54]:
for x in adj:
  for y in fruits:
   print(x,y)

roja manzana
roja platano
roja cereza
grande manzana
grande platano
grande cereza
dulce manzana
dulce platano
dulce cereza

In [50]:
for i in range(3):
  print(f"{adj[0]} {fruits[i]} ")
for i in range(3):
  print(f"{adj[1]} {fruits[i]} ")
for i in range(3):
  print(f"{adj[2]} {fruits[i]} ")

roja manzana
roja platano
roja cereza
grande manzana
grande platano
grande cereza
dulce manzana
dulce platano
dulce cereza

In [51]:
for i in range(3):
  print(f"{adj[0]} {fruits[i]} ")
  print(f"{adj[1]} {fruits[i]} ")
  print(f"{adj[2]} {fruits[i]} ")

roja manzana
grande manzana
dulce manzana
roja platano
grande platano
dulce platano
roja cereza
grande cereza
dulce cereza

In [55]:
n=int(input("dame tu edad"))
for i in range(1,n+1):
  print(f"{i} años cumplidos ")

dame tu edad18
1 años cumplidos
2 años cumplidos
3 años cumplidos
4 años cumplidos
5 años cumplidos
6 años cumplidos
7 años cumplidos
8 años cumplidos
9 años cumplidos
10 años cumplidos
11 años cumplidos
12 años cumplidos
13 años cumplidos
14 años cumplidos
15 años cumplidos
16 años cumplidos
17 años cumplidos
18 años cumplidos

In [63]:
suma=0
while True:
  a=int(input("dime un valor que no sea 0 "))
  suma+=a
  if a==0:
    print("la suma es",suma)
    break

dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 3
dime un valor que no sea 0 0
la suma es 39